<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="styleAuth.css" rel="stylesheet">
</head>
<body action="/authorization">
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login">
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="E-mail">
                </div>
                <div class="login__field">
                    <input type="password" class="login__input" placeholder="Пароль">
                </div>
                <a class="button login__submit" href="/authorization">
                    <span class="button__text" >Авторизация</span>
                </a>
            </form>
                <a class="social-login" href="/registration">Регистрация</a>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
</body>
</html>