<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link href="/css/styleProfile.css" rel="stylesheet">
    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container">
    <div class="screen">
        <form class="login" method="post" th:object="${users}">
            <div class="login__field">
                <input type="email" class="login__input" placeholder="E-mail" name="email" th:field="*{email}" readonly>
            </div>
            <div class="login__field">
                <input type="text" class="login__input" placeholder="Пароль" name="password" th:field="*{password}">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div>
            </div>
            <div class="login__field">
                <input type="text" class="login__input" placeholder="Фамилия" name="surname" th:field="*{surname}">
                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red"></div>
            </div>
            <div class="login__field">
                <input type="text" class="login__input" placeholder="Имя" name="name" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
            </div>
            <div class="login__field">
                <input type="text"  class="login__input" placeholder="Отчество" name="middlename" th:field="*{middlename}">
                <div th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}" style="color: red"></div>
            </div>
            <button class="btn-login">
                <span class="social-login">Изменить профиль</span>
            </button>
        </form>
    </div>
</div>
</body>
</html>