<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="/css/styleReg.css" rel="stylesheet">
</head>
<body action="/registration">
<div class="container">
    <div class="screen">
        <h1>Регистрация</h1>
            <form class="login">
                <div class="login__field">
                    <input type="email" class="login__input" placeholder="E-mail">
                </div>
                <div class="login__field">
                    <input type="password" class="login__input" placeholder="Пароль">
                </div>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Фамилия">
                </div>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Имя">
                </div>
                <div class="login__field">
                    <input type="text" class="login__input" placeholder="Отчество">
                </div>
                <a class="social-reg" href="/login">Регистрация</a>
            </form>
        <div class="btn-login">
        <a class="social-login" href="/login">Авторизация</a>
        </div>
    </div>
</div>
</body>
</html>