@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: #d2bb9f;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen {
    height: 600px;
    width: 500px;
}

.login {
    width: 500px;
    size: 25px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__input {
    border: none;
    border-bottom: 2px solid #ecd7bd;
    background: none;
    padding: 5px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    transition: .2s;
    font-size: 25px;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #d2bb9f;
}

.btn-login{
    size: 22px;
    padding: 10px 10px 10px 10px;
    border: #d2bb9f;
    height: 60px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #736453;
    font-size: 25px;
    color: #d2bb9f;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
}

.social-login {
    border: #d2bb9f;
    height: 60px;
    width: 250px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #736453;
    font-size: 25px;
    color: #d2bb9f;
    border-radius: 10px 10px 10px 10px;
}