@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: #d2bb9f;
}
h1{
    padding-top: 20px;
    color: #462c20;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.screen {
    background: rgba(176, 153, 127, 0.3);
    height: 600px;
    width: 600px;
    box-shadow: 0px 0px 24px #736453;
}

.login {
    width: 500px;
    size: 20px;
    padding: 5px 50px 5px 50px;
}

.login__field {
    padding: 5px 0px;
    position: relative;
}

.login__input {
    border: none;
    border-bottom: 2px solid #ecd7bd;
    background: none;
    padding: 5px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    transition: .2s;
    font-size: 20px;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #d2bb9f;
}

.login__submit {
    background: #fff;
    font-size: 22px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #ecd7bd;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #736453;
    box-shadow: 0px 2px 2px #d2bb9f;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #d2bb9f;
    outline: none;
}
.btn-login{
    size: 22px;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login {
    height: 40px;
    text-align: center;
    width: 200px;
    font-weight: 700;
    background-color: #736453;
    font-size: 22px;
    color: #d2bb9f;
    border-radius: 10px 10px 10px 10px;
    display:inline-block;
    vertical-align:top;
    line-height:35px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #2d1a12;
    border-bottom: 4px solid #2d1a12;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}